.cai {
    width: 100%;
    height: 1000px;
    padding-top: 102px;
    background-color: #ccc;
}


/* .about-banner {
    background: url(../images/关于我们-15082779775.jpg) no-repeat bottom center;
    height: 299px;
    padding-top: 106px;
} */