/* 版心 */

.w {
    width: 1200px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.style_red {
    color: #c81623;
}


/* back */

.back {
    position: fixed;
    right: 180px;
    bottom: 150px;
    width: 75px;
    height: 88px;
    cursor: pointer;
    display: none;
}


/* 快捷导航模块  水伟环境欢迎你*/

.welcome {
    height: 31px;
    line-height: 31px;
    background-color: #f1f1f1;
}

.welcome .fr {
    background: url(../images/phone.jpg) no-repeat;
    background-position: left;
    padding-left: 23px;
}

.header {
    position: relative;
    height: 70px;
    /* width: 200px */
    /* background-color: pink; */
}

.header .logo {
    float: left;
    /* 让图片居中对齐 */
    /* padding-top: 4px; */
    width: 154px;
    height: 63px;
}

.header .logo a {
    display: block;
    width: 200px;
    height: 60px;
    background: url(../images/company_logo1.png) no-repeat;
    background-size: 100% 100%;
    /* 淘宝的做法让文字隐藏 */
    text-indent: -9999px;
    overflow: hidden;
}

.header .nav {
    float: left;
    margin-left: 60px;
}

.header .nav li {
    float: left;
    text-align: center;
}

.header .nav li a:hover {
    border-bottom: 4px solid #88b645;
}

.header .nav li a {
    font-size: 16px;
    line-height: 70px;
    padding: 20px 20px;
}

.header .search-btn {
    position: absolute;
    top: 25px;
    right: 20px;
}

.footer {
    width: 100%;
    /* height: 100%; */
    padding-top: 45px;
    padding-bottom: 20px;
    background-color: #313131;
}

.footer li {
    float: left;
    margin-right: 50px;
}

.footer li h4 {
    font-size: 15px;
    color: #d6d6d6;
    background: url(../images/foot.png) no-repeat left bottom;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.footer li a {
    color: inherit;
    padding-bottom: 5px;
    display: block;
}

.footer .infoot {
    float: left;
    width: 900px;
}

.footer .infoot ul li.solution a {
    width: 180px;
}

.footer .QR_Code {
    float: right;
    margin-right: 30px;
    text-align: center;
}

.footer .QR_Code h4 {
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    padding-bottom: 14px;
}

.footer .QR_Code h5 {
    font-size: 22px;
    color: #a08432;
    text-align: center;
    padding-top: 10px;
}

.bq {
    /* margin-top: 20px; */
    background: #313131;
    color: #9f9d9d;
    font-size: 12px;
    text-align: center;
    border-top: 1px solid #5b5a5a;
    height: 46px;
    line-height: 46px;
}


/* .solution {} */